# PostgreSQL (development & production)
# Format: postgresql://postgres:adipta2806@localhost:5432/pendataan_karyawan?schema=public
# DATABASE_URL="postgresql://postgres:adipta2806@localhost:5432/pendataan_karyawan?schema=public"
